footer {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

footer a {
  color: #3498db;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #217dbb;
  text-decoration: underline;
}
